$gray-background: #EAECF0;
$white: #FFFFFF;

$black-text: #333333;
$gray-text: #C8CBD0;

$primary: #0B1A23;
$primary-selected: #1d4259;
$primary-transparent: #B4373378;

$secondary: #BF9B4F;
$secondary-selected: #a68641;

$confidence-blue: #4eafff;
$confidence-green: #27AE60;
$confidence-yellow: #F2C94C;
$confidence-orange: #F2994A;
$confidence-red: #EB5757;