@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$font-stack: 'Roboto', sans-serif;

#app {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: $gray-background;
    color: $black-text;
    font-family: $font-stack;
    text-align: center;
    min-height: 100vh;
    max-height: fit-content;
}

#page-content {
    padding-bottom: 15px;
    height: fit-content;

    button {
        font-size: 16px;
        padding: 5px 15px;
        background-color: $secondary;
        border-radius: 8px;
        border: none;
        color: $white;
        display: inline-block;
        font-family: $font-stack;
        font-weight: 500;
        text-align: center;
        text-decoration: none;

        &:hover {
            background-color: $secondary-selected;
        }
    }

    .custom-select {
        border: thin solid $gray-text;
        width: 95%;
        color: $black-text;
    }

    .disabled {
        pointer-events: none !important;
        background-color: gray !important;
    }

    .dividing-box {
        box-sizing: border-box;
        background: $white;
        margin: 15px 0px;
        padding: 15px;
        width: 100%;
    }

    .gallery-image {
        display: block;
        height: 30%;
        width: 100%;
    }

    .header-container {
        position: relative;
        height: 30px;
    }

    .heading {
        font-weight: 400;
        font-size: 18px;
    }

    hr {
        border-color: $gray-text;
        background-color: $gray-text;
        width: 100%;
    }

    input{
        border: none;
        border-radius: 8px;
        font-family: $font-stack;
        font-weight: 400;
        margin: 8px;
        padding: 5px;
        border: thin solid $gray-text;
        width: 95%;
        color: $black-text;
    }

    select,
    datalist {
        border-radius: 8px;
        border: thin solid $gray-text;
        font-family: $font-stack;
        font-weight: 400;
        font-size: 16px;
        color: $black-text;
        margin: 8px;
        padding: 5px;
    }

    textarea {
        border-radius: 8px;
        border: thin solid $gray-text;
        font-family: $font-stack;
        font-weight: 400;
        color: $black-text;
        margin: 8px;
        padding: 10px;
        width: 95%;
    }

    nav, nav button, nav :hover {
        background-color: $primary;
    }

    .title {
        font-weight: 500;
        font-size: 24px;
    }

    .text {
        color: $gray-text;
        font-weight: 400;
        font-size: 14px;
    }

    .vertical-center-left {
        margin: 0;
        position: absolute;
        top: 25%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-top: 35px;
    }

    .vertical-center-right {
        margin: 0;
        position: absolute;
        top: 75%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 5px;
    }

    .thumbnail {
        text-align: left;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        &::after {
            // width: 100%;
            display: block;
            content: '';
            padding-bottom: 100%; // https://spin.atomicobject.com/2015/07/14/css-responsive-square/
        }
    }
}